*{
 outline: solid red;
}

body {
    background: rgb(63, 63, 63);
}

.card {
    outline: solid 1px grey;
    border-radius: 1rem;
    width: 50%;
    margin: auto;
    background: rgb(180, 180, 180);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 2rem;
}
form {
    flex-direction: column;
    label{
        font-size: 1.2rem;
        color: white;
        padding: 1rem;
        background: rgb(65, 65, 65);
    }
    
    display: flex;
    
    input{
        margin-bottom: 1rem;
        padding: 1rem;
    }
    
    
}